# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=

# APP_URL: The URL where this app is hosted.
APP_URL=

# PayChangu API Keys
PAYCHANGU_SECRET_KEY=
PAYCHANGU_PUBLIC_KEY=

# Admin Team Password
ADMIN_TEAM_PASSWORD=
