# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=

# OPENROUTER_API_KEY: Fallback API for when Gemini quota is exceeded.
OPENROUTER_API_KEY=

# APP_URL: The URL where this app is hosted.
APP_URL=

# PayChangu API Keys
PAYCHANGU_SECRET_KEY=
PAYCHANGU_PUBLIC_KEY=

# Admin Team Password
ADMIN_TEAM_PASSWORD=

# Cloudinary Configuration (For user profile pictures)
CLOUDINARY_CLOUD_NAME=dor5twyep
CLOUDINARY_UPLOAD_PRESET=profile_pics
